/* *{
    padding: 0;
    margin: 0;
} */



.header .container{
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    margin: 50px 80px;
    
}

.buttons{
    align-items: center;
    border: none;
    background: #ffff; 
    color: black;

    a{
        text-decoration: none;
        color: black;
        text-align: center;
    }
    }



.description-dlw {
     background-color: #F9F9F9;

    .container{
            display: flex;
            margin: 0 80px;
    }

    .description{
    margin: 100px;

        h1{
        font-size: 60px;
        }
        p{
        margin: 27px 0 62px 0;
         }
    }
}


